<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rt.navigator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="ru.rt.navigator.view.Main"
            android:theme="@style/MainAc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="ru.rt.navigator.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity android:name="ru.rt.navigator.view.FormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity android:name="ru.rt.navigator.view.FormEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity android:name="ru.rt.navigator.view.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b46af22c978f39f5499c846dd410a6c1e9f2b0e7" />
    </application>

</manifest>